/* Style global pour le formulaire */
.bloc-form{
  margin: 20px 0;
 
  
}
#form-login {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  Style pour les groupes de champs
  .input-group {
    margin-bottom: 15px;
  }
  
  /* Style pour les étiquettes de champ */
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  /* Style pour les champs de saisie */
 .input-login {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Style pour les messages d'erreur */
  .text-danger {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Style pour le bouton de soumission */
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  